{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Connexion</h1>

    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Votre email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Votre mot de passe:</label>
        <input class="form-control" type="password" id="password" name="_password">

        {# If you want to control the URL the user is redirected to on success #}
        <input type="hidden" name="_target_path" value="{{ path('app_account') }}">

        <button class="btn btn-success mt-3" type="submit">login</button>
    </form>

</div>
{% endblock %}