{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Inscription</h1>
    {{ form(registerform) }}
</div>
{% endblock %}